---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sayuj Kuickel</title>

    <meta
      name="description"
      content="Sayuj Kuickel - Frontend Developer based in Nepal. Portfolio, projects, skills, and experience."
    />
    <meta name="author" content="Sayuj Kuickel" />
    <meta property="og:title" content="Sayuj Kuickel" />
    <meta
      property="og:description"
      content="Frontend Developer based in Nepal. Explore my projects and skills."
    />
    <meta property="og:image" content="/assets/logo.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://sayuj.com.np/" />
    <!--  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
